<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"labm-main","layout":{"type":"constrained"}} -->
<main id="contenido-principal" class="wp-block-group labm-main"><!-- wp:post-terms {"term":"labm_categoria"} /--><!-- wp:post-title {"level":1} /--><!-- wp:post-date /--><!-- wp:post-content /--><!-- wp:paragraph --><p><a href="/actualidad/">Volver a Actualidad</a></p><!-- /wp:paragraph --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
